/*media*/
.apartado-ampliado {
    clear: both;
    padding-top: 40px;
}

.valoracion{
    border-bottom:1px solid black;
}

.valoracion:last-child{
    border: none;
}

.foto-mini{
    clear: both;
    float: left;
    margin:20px 10px 0 0;
}

.foto-val {
    clear: both;
    width: 80px;
}

.texto-val {
    float: left;
    padding-bottom: 20px;
    width: 70%;
}

.stars-val{
    width: 21%;
}