/*pestañas*/
.box-perfil {
    background-color: white;
    overflow: hidden;
    padding-bottom: 80px;
}

.menu-interior {
    background-color: #00A6A5;
    padding: 0;
    text-align: left;
    width: 100%;
}

.menu-interior ul {
    padding: 0;
    list-style: none;
    margin:0;
}

.pestanyas {
    float: left;
}

.pestanyas a{
    background-color: #00A6A5;
    color:white;
    display:block;
    padding: 20px 15px;
    text-decoration: none;
}

.pestanyas a:hover,
.pestanyas a.seleccionado {
    background-color: white;
    color: #00A6A5;
    text-decoration: none;
}

.contenido-perfil{
    margin: 5px 5px 1px 14px;
}

.option-2,
.option-3,
.option-4,
.option-5,
.option-6,
.option-1-1,
.option-2-1,
.option-3-1,
.option-4-1,
.option-no-leido,
.option-enviado, {
    display: none;
}

.ul-mensajes{
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(240, 240, 240);
    margin: 0;
}

.contenido-mensaje{
    background-color: white;
    border-bottom: 1px solid rgb(240, 240, 240);
    list-style: none;
    padding: 16px 10px;
    text-decoration: none;
    &:last-child{
        border-bottom: none;
    }
}

.contenido-mensaje:hover,
.seleccionado-m {
    background-color: rgb(240, 240, 240);
}
