/*aside ampliado*/
.parte-derecha-info {
    background-color: white;
    float: left;
    margin-left: 30px;
    padding: 10px 30px 80px;
    width: 30%;
}

.mini-box-info{
    margin-top: 50px;
    clear: both;
}

.info-name{
      margin-left: 10px;
      float: left;
}

.sub-info-name{
    clear: both;
}

.container-perfil{
    margin: 20px 20px 0 0;
}

.texto-perfil{
    margin-left: 60px;
}

.titulos-apartados {
    margin-bottom: 20px;
}

.programa{
    clear: both;
}

/*aside categorias*/
.filtros {
    clear: both;
    float: left;
    margin-top: 66px;
    width: 17%;
}

.categorias{
    margin-top:50px;
}

.categorias-menu {
    line-height: 30px;
    margin: 0;
    padding-right: 10px;
}

.categorias-menu a:hover,
.categorias-menu a.select {
    color:#f15c22;
}

.menu-ordenar ul{
    padding-left:0;
}

.lista-categorias{
    list-style: none;
    margin-top: 20px;
}

.programas, .categorias-2{
    margin-top: 30px;
}

.cuadro-program{
    margin-top: 20px;
    width: 60%;
}

.checkbox{
    padding: 0;
    margin-top: 20px;
}

.filtros-hide-tablet{
    margin-bottom: 30px;
    padding: 10px 30px;
}

.filtros-2{
    display: none;
}

.grupo-iconos{
    width: 33%;
}

.categorias-hide{
    padding-top: 30px;
}

.categorias-hide-2{
    padding-top: 25px;
}

.flecha-abrir {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #404041;
    cursor:pointer;
    height: 0;
    margin:23px 0 0 10px;
    width: 0;
}

.flecha-cerrar{
    border-bottom: 8px solid #404041;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    cursor:pointer;
    display:none;
    height: 0;
    margin:23px 0 0 10px;
    width: 0;
}

.container-ordenar-mobile{
  display: none;
}

.iconos-cat{
  list-style: none;
}

/*aside perfil*/
.parte-izquierda {
    width: 30%;
    padding: 30px 30px;
    background-color: white;
}

.cien-por-cien {
    width: 100%;
}

.img-perfil{
    width: 60%;
}

.informacion-persona{
    margin: 30px 0;
}

