/*header*/
header {
        background-color: white;
        margin: 1.5rem 0;
        padding-bottom: 0;
}

.img-logo {
    margin: 10px;
    width: 200px;
}

ul {
    padding-left: 0;
}

.menu ul{
    padding-left: 10px;
}

.logo {
    float:left;
}

.menu {
    float: right;
    line-height: 1.5;
    margin-right: 20px;
    text-align: center;
    width: 70%;
}

.menu ul li {
    float: left;
    list-style: none;
    margin-left: 15px;
}

.registro {
    float:left;
    margin-left: 15px;
}

.menu li a {
    color: #404041;
}

.menu li a.active,
.menu a:hover {
    color: #f15c22;
}

.buscar-top {
    display: inline;
}

.buscador-desplegado {
    background-color: rgba(51, 51, 51, 0.15);
    clear: both;
    display:none;
}

.imagen-lupa,
.imagen-desplegable {
    margin: 10px 0 0 5px;
    max-width: 35px;
}

.lupa-buscador {
    float: right;
    margin-bottom: 10px;
}

#input-buscador {
    margin: 15px 0 15px 30px;
    max-width: 60%;
    float: left;
    border-radius: 5px;
}

.buscador-container-derecha {
    float: left;
    width: 36%;
    margin: 10px 0 0 0;
}

.imagen-cerrar-buscador {
    margin: 5px 0 0 0;
    max-width: 30px;
}

.container-button-buscador {
    margin-left: 10px;
    width: 40%;
}

.float-menu{
    float:left;
}

.header-mensajeria {
    margin-top: -10px;
}

/*dropdown*/
.dropdown-wrap {
    float: left;
    overflow: visible;
    padding-bottom: 5px;
    position: relative;
}

.dropdown-wrap a {
    color: rgb(144, 197, 219);
    text-decoration: none;
}

.dropdown {
    display: none;
    padding: 0;
    position: absolute;
        top: 50%;
        right: -20%;
}

.menu .dropdown li {
    background: #404041;
    border-bottom: 1px solid #fff;
    float: none;
    padding: 0;
}

.menu .dropdown a {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: .5rem 1rem;
    position: relative;
    text-transform: uppercase;
    width: 20rem;
}

.dropdown-wrap:hover .dropdown {
    display: block;
}

.menu .dropdown li:last-child {
    border-bottom: 0;
}

.dropdown li:hover a::before {
    background: #F15C22;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
        top: 0;
        left: -.5rem;
    width: .5rem;
}

.dropdown li:hover a {
    color: #fff;
}

.dropdown:hover li:not(:hover) a {
    background-color: #000;
    color: #A4A4A4;
    opacity: .4;
}

.dropdown li:first-child {
    background-clip: padding-box;
    border-top: .75rem solid transparent;
    position: relative;
}

.dropdown li:first-child::before {
    border-color: transparent transparent #404041 transparent;
    border-style: solid;
    border-width: 0 .75rem .75rem .75rem;
    content: '';
    display: block;
    height: 0;
    position: absolute;
        top: -.70rem;
        right: 1rem;
    width: 1rem;
}

.menu li.alineacion-vertical a {
    color: #fff;
}

.menu li.alineacion-vertical a.active{
    background-color: #f15c22;
}

/*media queries header*/
@media screen and (max-width: 1110px){
    .menu li.tamano-fijo {
        max-width: 100px;
    }
}

@media screen and (max-width: 900px) {
    .menu ul.esconder,
    .registro {
        display: none;
    }
}

@media screen and (min-width: 899px) {
    .imagen-desplegable,
    .dropdown
    .dropdown-wrap {
        display: none;
    }
}

@media screen and (max-width: 815px){
    .input-buscador {
        margin-left: 10px;
    }
    .menu {
        max-width: 30%;
    }
    .logo {
        max-width: 162px;
    }
    #input-buscador {
        width: 50%;
    }
    .container-button-buscador {
        min-width: 70px;
    }
}

