/*aside*/
.indice {
    clear: both;
    float:left;
    width: 17%;
    margin:0;
    position: fixed;
    z-index: 1;
    background-color: rgb(245,245,245);
    padding: 0;
}

.indice ul{
    padding: 0;
    margin:0;
}

.img-logo {
    margin: 20px;
    width: 200px;
}

.index-hide-1,
.index-hide-2{
    display: none;
    padding:0 0 10px 10px;
}

.index-hide-1 li,
.index-hide-2 li{
    padding:7px 7px 7px 15px;
    font-size:14px;
}

.index-hide-1 a:hover,
.index-hide-2 a:hover,
.index-hide-1 a.seleccionado-2,
.index-hide-2 a.seleccionado-2{
    color:#F15C22;
}
