/*footer*/
footer {
    background-color: rgb(245,245,245);
    clear: both;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.pie {
    margin: 0 auto;
}

.terms{
    padding-top: 10px;
}



/*media queries footer*/
@media screen and (max-width: 800px){
    .terms {
        text-align: center;
    }

}