/*contenido memoria*/
.float-left {
    float: left;
    width: 30%;
}

.float-right {
    float: right;
    width: 45%;
}
.contenedor-info{
    padding:20px 20px 30px 20px;
    min-height: 475px;
    width: 100%;
}
