/*botones*/
.general-button{
    border: none;
    border-radius: 8px;
    cursor:pointer;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
}

.full-button,
.full-button-header {
    display:block;
    padding: 20px 10px;
    width: 100%;
}

.large-button{
    display:block;
    margin: 0 0 10px;
    padding: 20px 10px;
    width: 80%;
}

.medium-button{
    width: 25%;
}

.small-button{
    width: 8%;
}

.button-2{
    background-color: #f15c22;
}

.button-mail{
    background-color: #f15c22;
    transition: all 0.3s ease;
}

.button-3{
    border: 2px solid #f15c22;
    background-color: rgba(0, 0, 0, 0.0);
}

.button-1,
.button-2,
.button-3 {
    @extend .general-button;
    font-size: 16px;
    padding: 10px 0;
}

.button-1,
.button-2,
.button-3,
.button-mail,
.button-unete{
    font-weight: 400;
    text-transform: uppercase;
}

.button-1 span,
.button-2 span,
.button-3 span{
    padding: 0 40px;
}


.button-mail {
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    text-align: center;
    transition: all 0.3s ease;
    width: 50%;
    span{
        background-image:url(../imagenes/mail-b.svg);
        background-position: center center;
        background-repeat:no-repeat;
        background-size: contain;
        display: block;
        height: 16px;
        margin: auto;
        position: absolute;
        top:0;
        bottom:0;
        left: 0;
        right: 0;
        width: 16px;
    }
    &.mail-alumnos {
        text-align: center;
        span {
            background-size: 16% auto;
            background-position: left center;
            height: 20px;
            text-align: right;
            width: 105px;
            strong {
                font-weight: normal;
                line-height: 20px;
            }
        }
    }
}

.button-unete{
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    font-size: 13px;
    height: 20px;
    text-align: center;
    transition: all 0.3s ease;
}

.button-unete span{
    color: #404041;
}

.general-button:hover,
.button-mail:hover,
.back-to-top:hover{
    background-color: #f28960;
}

.button-unete:hover{
    background-color:#f15c22;
}

.button-3:hover{
    background-color: #F5C8B7;
}

.mail-cursos{
    background-image:url(../imagenes/mail-b.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

span.buzon-buscador{
  background-image: url(../imagenes/mail-b.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 auto;
  padding: 0px;
}

.boton-buscador{
    padding: 6px 0 5px;
}

.button-mail-responsive{
    background-color: #f15c22;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22px;
    text-align: center;
    transition: all 0.3s ease;
    width: 30%;
    span{
         background-image:url(../imagenes/mail-b.svg);
        background-position: center center;
        background-repeat:no-repeat;
        background-size: contain;
        display: block;
        height: 16px;
        margin: auto;
        position: absolute;
        top:0;
        bottom:0;
        left: 0;
        right: 0;
        width: 16px;
    }
}

.back-to-top {
    background-color: #F15C22;
    display: none;
    padding: 1em;
    position: fixed;
    right: 0px;
    text-decoration: none;
    text-transform: uppercase;
}
