/*imagenes*/
.float-left {
    float: left;
    width: 50%;
}

.float-right {
    float: right;
    width: 50%;
}
.margin-imagenes{
	margin:5px;
}
.img-3{

	width:31%;
	margin:5px;
}
.img-2{

	width:48%;
	margin:5px;

}
.img-4{
	width:25%;
}

.borde{
    border: 2px solid;
    border-color: rgb(234, 232, 232);
}