/*contenido memoria*/
.float-left {
    float: left;
    width: 50%;
}

.float-right {
    float: right;
    width: 50%;
}

.img-3{

	width:33%;
}
.img-2{

	width:46%;

}
.img-4{
	width:25%;
}

.borde{
    border: 2px solid;
    border-color: rgb(234, 232, 232);
}