/*ordenar*/
.menu-ordenar ul{
	padding: 0;
}

.menu-ordenar li{
    float: left;
    list-style: none;
    margin: 30px;
}

.menu-ordenar li{
	text-transform:uppercase;
}

.menu-ordenar li a:hover,
.menu-ordenar li a.selection,
.menu-scroll li a:hover,{
	color: #00A6A5;
}


