/*pestañas*/
.pestanyas{
    clear:both;
    float: none;
    list-style: none;
    padding:0;
}
.pestanyas:first-child{
    padding-top:30px;
}
.pestanyas a{
    background-color: #00A6A5;
    color:white;
    display:block;
    padding: 15px;
    text-decoration: none;
}

.pestanyas a:hover,
.pestanyas a.seleccionado {
    background-color: white;
    color: #00A6A5;
    text-decoration: none;
}

.contenido-perfil{
    margin: 5px 5px 1px 14px;
}

.option-2,
.option-3,
.option-4,
.option-5,
.option-6,
.option-1b,
.option-2b,
.option-3b,
.option-4b,
.option-5b,
.option-6b,
.option-7b{
    display: none;
}

