/*pop-ups*/
.masc{
    display: none;
    font-family:"Lato", sans-serif;
    position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    transition: opacity 400ms ease-in;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    z-index:99999;
    }

.masc::before{
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 69%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(69%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 69%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 69%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 69%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 69%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    display: block;
    content: '';
    height: 100%;
    position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

.masc:target{
    opacity: 1;
}

.popup-active{
    overflow: hidden;
}

.popup{
    margin: 0 auto;
    position: absolute;
    width: 100%;
}

.popup-image-2{
    background-position: top 0px right 425px;
    background-repeat: no-repeat;
    background-image: url(../imagenes/muneco-gracias.png);
    background-size: 15% auto;
}

.top{
    top: 52px;
}

.height-scroll{
    max-height: 400px;
    overflow: scroll;
}

.top-gracias{
    top: 43px;
}

.close{
    background: #f15c22;
    border-radius: 12px;
    color: #FFF;
    line-height: 25px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 24px;
}

.close:hover{
    background:#333333;
}

.popup-box{
    background: white;
    border: 5px solid #00A6A5;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px 20px 40px;
    position: relative;
    transition: all 500ms ease-in;
}

.container-popup{
    width: 75%;
    margin: 0 auto;
}

.border{
    border: 1px solid #404041;
    padding: 0 5px;
}

.movedown{
    margin: 10% auto;
}

.movedown-2{
    margin: 1% auto;
}

.movedown-3{
    margin: 5% auto;
}

.link-facebook{
    width: 100%;
}

.margin-auto-popup{
  margin: 0 auto;
  padding: 20px 0 10px;
  width: 45%;
}

.margin-auto-gracias{
    width: 85%;
    margin:0 auto;
    padding:20px 0 10px;
}

.padding-button-popup{
    padding: 23px 10px 24px 0;
}

.img-facebook{
    padding: 15px 0;
    border-bottom: 1px solid #404041;
}

.img-proceso{
    margin: 0 auto;
    width: 70%;
}

.proceso{
    width: 100%;
}

.show-consejos{
    display: none;
}

.container-consejos{
    padding: 35px 20px 20px;
}

ul{
    padding-left:0;
}

.consejo{
    list-style: none;
    padding: 20px 0px;
}

.texto-consejo{
    padding-left: 40px;
}

.consejos-muneco{
    background-image: url(../imagenes/muneco-consejos.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 26% auto;
    cursor: pointer;
    height: 72px;
}

#valorar ul{
    padding:0;
    margin-bottom: 0;
}

#valorar li{
    list-style: none;
}

/*media queries popups*/
@media screen and (max-width:500px){
    .popup-box{
        border:none;
        width: 100%;
    }
    .close{
        top:0;
        right:0;
    }
    .popup-image{
        background-image:none;
    }
    .img-facebook{
        display: none;
    }
    .margin-auto-gracias{
        width: 100%;
    }
    .margin-auto-popup{
        width: 80%;
    }
}

@media screen and (min-width:501px){
    .popup-box{
        width: 500px;
    }
    .close{
        top: -12px;
        right: -12px;
    }
    .popup-image{
        background-image: url(../imagenes/ninologin.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 20% auto;
    }
    .img-facebook{
        border-bottom: 1px solid #404041;
        padding: 15px 0;
    }
}
