/*general*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

body {
     color: #404041;
     font-family: "Lato", sans-serif;
     font-style: normal;
     font-weight: 400;
	 margin: 0;
     padding:0;
}

.container{
    background: #fff;
    margin: 0;
}
.wrapper{
    background: white;
    margin: 0 auto;
    max-width: 850px;
    padding-left:130px;
}
.margin-top-title{
    margin-top: 20px;
}
.margin-top-subtitle{
    margin-top: 40px;
}
.margin-top-container{
    margin-top:10px;
}
.clear{
    clear: both;
}
ul{
  padding:0;
}

.left{
    float: left;
}

.right{
    float: right;
}

.margin-left{
    margin-left: 70px;
}

.margin-right{
    margin-right: 15px;
}


.no-margin{
    margin: 0;
}

.opacity-hover:hover{
    opacity: .6;
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.margin-auto{
    margin: 0 auto;
    width:50%;
}

hr{
    border: 0;
    border-top: 1px solid #999;
}

